<%- include ("header")-%>
	<h2>This is the about page</h2>

	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil possimus nulla corporis neque itaque officiis
		tempora
		velit autem. Nesciunt consequatur odio necessitatibus itaque cupiditate consequuntur. Reprehenderit maiores
		earum
		ipsa, temporibus exercitationem laboriosam consequatur reiciendis optio ipsam voluptate iure in quod. Neque ad
		voluptas molestias rerum delectus, ducimus culpa soluta voluptate repellat deleniti illum nulla nesciunt, unde
		corporis alias voluptatem nobis id dolores earum ratione quasi! Perspiciatis nulla reiciendis repellendus
		ducimus
		accusamus sequi libero ipsam quisquam vel cumque maiores a minima explicabo dignissimos modi ab quas est
		temporibus
		porro voluptate, dolorem neque commodi veritatis. Dolorem dolor iusto magnam corrupti eveniet dolores.</p>

	<%- include ("footer")-%>